**``Día 18/03 - Martes``**

1. Elección de **ScrumMaster** (primer periodo): Isabel
2. Selección de **agreements** (en plantilla de Slack)

**``Día 19/03 - Miércoles``**

1. Asignamos las columnas a cada integrante del equipo para conocer qué tipo de datos hay en el DataFrame.
2. Sobre las columnas asignadas, analizamos:

    1. **Tipo de datos** : Anotaciones sobre cada columna.
    2. **Utilidad de la columna**: Anotamos qué columnas nos pueden ser de utilidad y cuales consideramos innecesarias para ponerlo en común después.
    3. **Sugerencias**: En cuanto a modificación de columnas o tipos de datos que albergan.



**Columnas y tipo de datos de las columas**

1. Edad: Hay datos en int y otros en str con guiones.
CAMBIAR A TIPO INTEGER. CEO- RECALCULAR COLUMNA CON AÑO DE NACIMIENTO O BORRAR COLUMNA
2. Attrition: Valores YES/NO. Está ok
3. Businesstravel: travel_rarely/travel_frequently/NaN/non-travel.
 CAMBIAR Nan por null.
4. Dailyrate: float con muchos decimales. CEO - PARA EL ANALISIS,CON LA COLUMNA SALARIO ES SUFICIENTE
 CAMBIAR: Redondear a menos decimales. Mantener por el momento, no está claro si la necesitamos.
5. Department: NaN/Research & Development/Sales/Human Resources. CAMBIAR: cambiar Nan por Null
6. Distancefromhome: int con valores negativos.
CAMBIAR: Por el momento la mantenemos, quizás innecesaria.
7. Education: int que va del 1 al 5.
CAMBIAR: Columna confusa.
8. Educationfield: NaN/Life Sciences/Technical Degree/Medical/Marketing/Human Resources/Other
9. Employeecount: valor único de 1.
CAMBIAR: borrar:calavera:
10. Employeenumber: int
11. Enviromentsatisfaction: int (del 1 al 5 pero hay 35, 42 y 47?) CEO-ANALIZAR ESOS DATOS (RANGOS DE LOS DATOS)
12. Gender: int (0 y 1, a cambiar por 'Male' y 'Female') CEO - SIENDO 0 MALE Y 1 FEMALE
13. Hourlyrate(tarifa por hora): float (pero la mayoría NaN?) cambiar NaN por NULL (quizás borrar):calavera:
14. Jobinvolvement: int (del 1 al 4) rango ok
15. joblevel: int (del 1 al 5) rango ok
16. jobrole: str (Sales executive, Laboratory technician) (quizás poner todo en mayúsculas o minúsculas?)
17. Jobsatisfaction: int del 1 al 4. VALIDADO POR EL CEO.
18. Maritalstatus: str (Married, Divorced, Single, NaN) cambiar NaN por NULL
19. monthlyincome: SALARIO str (cambiar a float, replace $, cambiar coma por punto y NaN por NULL)
20. monthlyrate: TARIFA str (cambiar a float, replace $, cambiar coma por punto y NaN por NULL) CANDIDATA :calavera: . CEO - PARA EL ANALISIS, CON LA COLUMNA SALARIO ES SUFICIENTE
21. numcompaniesworked: int 
22. over18: Y:yes y Nan :calavera:
23. overtime: No-Yes
24. percentsalaryhike: int, bien
25. performancerating: Mal el formato de float, usa "," cambiarlo por "." (lo saca como string)
26. relationshipsatisfaction: puntuacion 1-4 (in)
27. standardhours: Part Time y Full Time, no sé si nos dará problemas ese espacio.
28. stockoptionlevel: int (0-3) beneficios que se pueden obtener, que tiene que ver con las acciones
29. totalworkingyears: Mal el formato de float, usa "," cambiarlo por "." (lo saca como string) "Podríamos redondear a años enteros y hacer un int"
30. trainingtimeslastyear: int (0-6)
31. worklifebalance: Mal el formato de float, usa "," cambiarlo por "." (string) habría que pasarlo a int
30. yearsatcompany: INT, todo ok
31. yearsincurrentrole: todo NAN, parece inservible, es STRING:calavera:
32. yearssincelastpromotion: INT, todo ok
33. yearswithcurrmanager: INT, todo ok
34. sameasmonthlyincome: es STRING sale con dolar y coma, tiene que ser FLOAT :calavera: CEO - BORRAR COLUMNA 
35. datebirth: INT años, todo ok
36. salary: es STRING sale con dolar y coma, tiene que ser FLOAT
37. roledepartament: muchos NAN, hay un guion que habría que quitar y separar entre role y department, debería ser string. :calavera:38. numberchildren: es FLOAT , no tiene sentido, no se puede tener un niño y medio, es todo NAN, se puede borrar
39. remotework: STRING deberia ser solo Yes/No, pero sale tambien False/True y 1/0. CEO - 0 FALSE Y 1 TRUE

**``Día 20/03 - Jueves``**

**Columnas que se van a borrar**

- Edad(columna 1): Vamos a calcular una nueva columna calculando la edad con el año de nacimiento que está en la columna datebirth.
- Sameasmonthlyincome (34)
- Over18 (22)
- Numberchildren: Todos los valores son nulos (38)
- Employeecount(9)

**Columnas OK**

- Attrition(2)
- Education(7)
- Employeenumber(10)
- Jobinvolvement (14)
- Joblevel(15)
- Jobsatisfaction(17)
- numcompaniesworked(21)
- overtime(23)
- percentsalaryhike(24)

**Columnas a limpiar**

In [ ]:
- Dailyrate: redondear decimales (no nos interesa mucho)
- Gender(12)
- jobrole(16)
- performancerating(25)

**Columnas null**

- Businesstravel (3)
- Department (5)
- Educationfield (8)
- Hourlyrate (No nos interesa) (13)
- MaritalStatus(18)
- Montlyincome (No nos interesa) (19)
- Overtime(23)
- Performancerating(25)
- Standardhours (27)
- Totalworkingyears(29)
- Worklifebalance(31)
- Yearsincurrentrole(31)
- Salary(37)
- Roledepartment(37)

In [ ]:
NOS HEMOS QUEDADO POR LA 25, mirar otra vez xq la tenemos en nulos y en limpiar!!! **Dudas siguiente día**

- Distancefromhome
- Enviromentsatisfaction

SyntaxError: invalid syntax (756664145.py, line 1)